/* styles stipulated in the ./style-guide.md file */

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%); /* (text) */
}

@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/static/Inconsolata-Regular.ttf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inconsolata";
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

input {
  outline: none;
}

.main-container {
  position: relative;
  width: 375px;
  background-image: url("/assets/images/background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

/* .overlay-lines {
  position: absolute;
  width: 100%;
  top: 0;
  right: 12px;
  height: 50%;
  background-image: url("./assets/images/pattern-lines.svg");
  background-size: 1024px;
} */

.squiggle {
  position: absolute;
  background-image: url("./assets/images/pattern-squiggly-line-top.svg");
  height: 110px;
  width: 110px;
  top: 5px;
  left: 265px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rings {
  position: absolute;
  background-image: url("./assets/images/pattern-circle.svg");
  height: 100px;
  width: 100px;
  top: -25px;
  left: -18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-container,
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  & .title {
    display: flex;
    font-size: 23px;
    color: var(--Neutral-0);
    font-weight: 800;
    z-index: 5;
    gap: 12px;
    margin-top: 35px;

    & img {
      height: 26px;
      width: 26px;
    }
  }
}

.heading-container {
  & .title,
  .main-heading {
    color: var(--Neutral-0);
  }

  & .main-heading {
    font-size: 28px;
    font-weight: 800;
    margin-top: 40px;
    padding: 0 10px;
  }

  & .sub-heading {
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
    padding: 0 20px;
    color: var(--Neutral-500);
  }
}

input {
  transition: 180ms box-shadow ease-in-out;
}

input:focus {
  box-shadow: 0 0 0 3px var(--Neutral-500) + 40%, 0.8;
}

.upload-avatar {
  color: var(--Neutral-0);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  margin-top: 30px;

  & .droppable-element {
    height: 140px;
    width: 100%;
    background-color: hsl(245, 19%, 35%, 0.5);
    margin-top: 10px;
    border-radius: 15px;
    border: 2px dashed var(--Neutral-500);
    z-index: 1;

    & .droppable-element-image-container {
      height: 60px;
      width: 60px;
      background-color: hsl(245, 19%, 35%, 0.8);
      border-radius: 15px;
      margin: 20px auto 0 auto;

      & #droppable-element-image {
        margin-top: 15px;
      }
    }

    & .droppable-element-text {
      font-size: 17px;
      margin-top: 15px;
      color: var(--Neutral-0);
      font-weight: 400;
    }
  }

  #droppable-element:hover {
    cursor: pointer;
  }

  & .droppable-info {
    margin-top: 10px;
    font-size: 14px;
    color: var(--Neutral-500);
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.form {
  color: var(--Neutral-0);
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: start;

  & label {
    font-size: 20px;
    font-weight: 700;
  }

  & .name-error,
  .email-error,
  .github-name-error {
    min-height: 30px;
  }

  & #name,
  #email,
  #github,
  #submit {
    height: 60px;
    font-size: 19px;
    border-radius: 15px;
  }

  & #name,
  #email,
  #github {
    margin-top: 15px;
    padding-left: 20px;
    border: 2px solid var(--Neutral-500);
    background: hsl(245, 19%, 35%, 0.5);
    color: white;
  }

  & #submit {
    background-color: var(--Orange-500);
    border: 1px solid var(--Orange-500);
    color: var(--Neutral-900);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 80px;
    z-index: 2;
  }

  ::placeholder {
    color: var(--Neutral-0);
  }

  & #name:hover {
    cursor: pointer;
  }

  & #name:focus {
    transition: 180ms box-shadow ease-in-out;
    box-shadow: 0 0 10px 3px hsl(245, 15%, 98%) 0.8;
  }
}

.heading-container,
.form,
.upload-avatar {
  display: none;
}

.success-text-container {
  color: var(--Neutral-0);
  margin: 40px 0 60px 0;
  /* display: none; */
  & .congrats {
    font-size: 28px;
    font-weight: 800;
    padding: 0 10px;
  }

  & .success-first-name,
  .success-last-name {
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    background-clip: text;
    color: transparent;
  }

  & .email-notify {
    font-size: 19px;
    font-weight: 700;
    margin-top: 25px;
    padding: 0 20px;
    color: var(--Neutral-500);
  }

  & .success-email {
    color: var(--Orange-700);
  }
}

.ticket {
  /* display: none; */
  height: 260px;
  padding: 5px;

  & .ticket-image {
    height: 160px;
    width: 92%;
    background: url("./assets/images/pattern-ticket.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;

    & .ticket-info-container {
      border: 1px solid white;
      width: 81%;
      display: flex;
      flex-direction: column;
      padding: 20px;

      & .ticket-info-date,
      .ticket-info-name {
        height: 50%;
      }

      & .ticket-info-date {
        display: flex;
        gap: 12px;

        & .ticket-info-date-image {
          height: 26px;
          width: 26px;
        }

        & .ticket-info-date-text {
          font-size: 23px;
    color: var(--Neutral-0);
    font-weight: 800;
    z-index: 5;
        }
      }

      & .ticket-info-name {
      }
    }
    & .ticket-number-container {
      width: 19%;
      align-content: center;

      & .ticket-number {
        transform: rotate(-90deg);
        display: inline-block;
        font-size: 20px;
        color: var(--Neutral-500);
      }
    }
  }
}

.bottom-squiggle {
  position: absolute;
  height: 190px;
  width: 375px;
  bottom: 0px;
  left: -51px;
  background-image: url("./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
